NET "cart_a<5>" LOC = "P11";
NET "cart_a<4>" LOC = "P12";
NET "cart_a<2>" LOC = "P13";
NET "cart_a<3>" LOC = "P14";
NET "rd4" LOC = "P15";
NET "s4_n" LOC = "P16";
NET "cart_a<9>" LOC = "P99";
NET "pmd<1>" LOC = "P34";
NET "pmd<2>" LOC = "P35";
NET "pmd<3>" LOC = "P36";
NET "cart_d<5>" LOC = "P3";
NET "cart_a<8>" LOC = "P4";
NET "cart_d<4>" LOC = "P6";
NET "cart_a<7>" LOC = "P7";
NET "cart_a<0>" LOC = "P8";
NET "cart_a<6>" LOC = "P9";
NET "cart_a<1>" LOC = "P10";
NET "phi2" LOC = "P23";
NET "led_r" LOC = "P24";
NET "led_y" LOC = "P25";
NET "pmwr" LOC = "P27";
NET "pmcs1" LOC = "P28";
NET "pmrd" LOC = "P29";
NET "pmd<0>" LOC = "P30";
NET "cart_a<10>" LOC = "P87";
NET "s5_n" LOC = "P89";
NET "cart_a<11>" LOC = "P90";
NET "cart_d<6>" LOC = "P91";
NET "cart_d<7>" LOC = "P92";
NET "cart_d<0>" LOC = "P93";
NET "cart_d<3>" LOC = "P94";
NET "cart_d<1>" LOC = "P95";
NET "cart_a<12>" LOC = "P96";
NET "cart_d<2>" LOC = "P97";
NET "cfg1" LOC = "P39";
NET "cfg0" LOC = "P37";
NET "rom_a<18>" LOC = "P40";
NET "rom_a<10>" LOC = "P41";
NET "rom_d<7>" LOC = "P46";
NET "oe_n" LOC = "P49";
NET "rom_a<17>" LOC = "P74";
NET "rom_a<14>" LOC = "P76";
NET "rom_a<13>" LOC = "P77";
NET "rom_a<8>" LOC = "P78";
NET "rom_a<9>" LOC = "P79";
NET "rom_a<11>" LOC = "P80";
NET "cctl_n" LOC = "P81";
NET "phi2" LOC = "P82";
NET "r_w" LOC = "P85";
NET "rd5" LOC = "P86";
NET "rom_d<6>" LOC = "P50";
NET "ce_n" LOC = "P52";
NET "rom_d<4>" LOC = "P53";
NET "rom_d<5>" LOC = "P54";
NET "rom_d<3>" LOC = "P55";
NET "rom_d<2>" LOC = "P56";
NET "rom_d<1>" LOC = "P58";
NET "rom_d<0>" LOC = "P59";
NET "rom_a<0>" LOC = "P60";
NET "rom_a<1>" LOC = "P61";
NET "rom_a<2>" LOC = "P63";
NET "rom_a<3>" LOC = "P64";
NET "rom_a<4>" LOC = "P65";
NET "rom_a<5>" LOC = "P66";
NET "rom_a<6>" LOC = "P67";
NET "rom_a<7>" LOC = "P68";
NET "rom_a<12>" LOC = "P70";
NET "rom_a<15>" LOC = "P71";
NET "rom_a<16>" LOC = "P72";
NET "we_n" LOC = "P73";

NET "phi2" TNM_NET = phi2;
TIMESPEC TS_phi2 = PERIOD "phi2" 562 ns HIGH 250 ns;
